.login {
  margin: auto;
  margin-top:20%;
  width: 50%;
  text-align: center;
  padding: 10px;
}

.error{
  color:red;
  padding: 10px
}

.button{
  background-color: cadetblue;
  color:white;
  padding: 10px;
  width: 20%;
  height: 30%;
}
.buttonDiv{
  padding: 10px;
}

.questionsList{
  border: 2px solid #333;
  padding: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: auto;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  

}

.question-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
}

.section {
  padding: 1rem;
  border: 1px solid #ccc;
  width: 50%;
  margin: 0 auto;
  border-radius: 20px;
}

.section-title {
  text-align: center;
  font-weight: bold;
}

.question-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
  border-radius: 30px;
  margin-bottom: 1rem; 

}

.question-user {
  font-weight: bold;
}

.question-timestamp {
  color: #878686;
}

.question-show-button {
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.answered{
  margin:6rem;
}
.unanswered{
  margin:6rem;
}


/* question CSS===========================================================     */
.question-page-background{
  background-color: #f2f2f0;

  background-repeat: no-repeat;
  margin:0 auto;
  padding: 5rem;
  
  
}
.question-page-container {
  margin:0 auto;
  padding: 10rem;
  width: 60%;
  height: 900px;
  align-items: center;
  background-color: #faf9f6;
  box-shadow: 0px 40px 20px rgba(0, 0, 0, 0.1);
  
}

.question-page-creator {
  text-align: center;
}

.question-page-creator-img {
  display: block;
  margin-top: 70px;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  margin-bottom:20%;
  height: 15%;
  border-radius: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);

  
}

.question-page {
  text-align: center;
  margin:5rem auto;
}

.question-page-options {
  display: flex;
  text-align: center;
  justify-content: space-between;
  
}

.question-page-option {
  padding: 15px 25px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.question-page-option-add {
  padding: 15px 25px;
  background-color: #6ba7e8;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.quesiton-page-selction-container{
  text-align: center;
  text-shadow: 0px 10px 10px 10px rgba(0, 0, 0, 0.06);
}
.question-page-options-selected {
  display: flex;
  margin-bottom:10px;
  justify-content: space-between;
}
.question-page-option-selected{
  padding: 15px 25px;
  display: flex;
  margin:0 auto;
  margin-bottom: 10%;
  background-color: #0dcf54;
  color: #fff;
  width:30%;
  border: none;
  border-radius: 20px;
  
}
.question-page-option-notSelected{
  padding: 15px 25px;
  display: flex;
  margin:0 auto;
  margin-bottom: 10%;
  background-color: #a4abae;
  color: #fff;
  width:30%;
  border: none;
  border-radius: 20px;

  
}

.navigationBar{
  display: flex;
  text-align: center;
  height: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);


}
.nav{
  text-align: center;
  height: 25px;
  padding: 10px;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 20px;
  background-color: #007bff;
  color:#f5f5f5;
  border-radius: 10px;
  text-decoration: none;
}
.user-info{
  margin-left: auto; 
  margin-right: 1rem;
  
}
.user-info-img{
  display: block;
  margin-top: 0;
  margin-right: 3rem;
  width: 2%;
  
}

.vertical-line{
  display: inline;
  margin-left:10px;
  width: 1px; /* Line width */
  background-color: black; /* Line color */
  float: left;    
}

.question-add-submit{
  display: block;
  margin: 0 auto;
  margin-top: 10rem;
  width: 20%;
  height: 5rem;
  background-color: #0dcf54;
  color: #ffffff;
  border-radius: 15px;
  border: none;
}

/*=========== Stat CSS ==============*/
.stat-container{
  display:flex;
  justify-content: center;

}
.stat-p{
  
  margin-right: 30px;
  background-color: #f2f2f0;
  display: grid;
  text-align: center;
  border-radius: 20px;
  width: 45%;
  padding: 20px;
  box-shadow: 0 2px 4px 2px rgba(0, 0, 0, 0.12);
}

